/* h1{
    color: red;
} */

/* #red{
    color: red;
} */



.mein{
    background-color: rgb(241, 160, 160);
border: 5px solid red;
padding: 20px;
width: 50%;  
}
h1{
    color: red;
}

#blue
{
     color: blue;
}